<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaptive Beats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Adaptive Beats</h1>
    </header>

    <div>
        <p>Welcome to our innovative music recommendation platform, where every song suggestion
         is tailored specifically to your current mood or the day's weather. Our system uses
          advanced machine learning techniques to detect your emotional state through facial
           recognition or to consider the environmental context provided by real-time weather data.
            Whether you're looking for the perfect soundtrack to a rainy day or a playlist that mirrors your joy or contemplation,
             our platform delivers personalized music recommendations that resonate with your exact needs at any moment.
              Enjoy a new way of experiencing music that feels uniquely yours.</p>
        </div>

    <div class="container">
        <form action="{{ url_for('recommendations') }}" method="get">
            <div class="option">
                <button class="icon-btn" type="submit">
                    <span class="emoji">🌦️</span>
                    <p>Weather</p>
                </button>  
            </div>
        </form>
        
        <form action="{{ url_for('mood') }}" method="get">
        <div class="option">
            <button class="icon-btn">
                <span class="emoji">👤</span>
                <p>Mood<br>Detection</p>
            </button>
        </div>
        </form>
    </div>
    <br>
    <br>
    <p>Choose an option for song recommendations</p>
    
    </div>
</body>
</html>

